@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "pastel";
  default: true;
  color-scheme: "light";
  --color-neutral: #232136;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: false;
  color-scheme: "dark";
  prefersdark: true;
  --color-neutral: #232136;
}

/* Tailwind にコンポーネントファイルをスキャンさせる */
@source "../../renderer/components";
@source "../../renderer/client";
